<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.44A00E20-C64A-4C01-B7B3-A773098B4794</string>
	<key>lightthemeuid</key>
	<string>theme.bundled.osxdark</string>
</dict>
</plist>
